.idea
/serve_system/pip_packages
/pip_packages_1
/pip_packages/
/serve_system/pip_packages_1/
/serve_system/pip_packages_2/
/serve_system/python/creative_production_serve_test/
/serve_system/python/python-3.9.13-win-2/
/serve_system/python/python-3.9.13-win-1/
/serve_system/python/python-3.9.13-win/Lib/site-packages/